:block(background){
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;

    &:elem(xl){
        width: 1600px;
        height: 1200px;
    }
    &:elem(l){
        width: 1366px;
        height: 768px;
    }
    &:elem(m){
        width: 1024px;
        height: 768px;
    }
    &:elem(s){
        width: 800px;
        height: 480px;
    }
}
